<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ipca.gamecatalog.alldayclinic">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllDayClinic">
        <activity android:name=".ui.chat.NewMessageActivity"></activity>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.chat.LatestMessageActivity"/>

        <activity android:name=".ui.chat.LatestMessageActivity" />
        <activity
            android:name=".Agenda"
            android:label="@string/title_activity_agenda" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>